
body{
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
}
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.smooch-sans-medium {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container{
  position: relative;
  width:400px;
  height:290px;
    cursor:pointer;
overflow:hidden;
  border:1px solid red;
}

.image{
  position:absolute;
  background-size: cover;
}

.fire-inside{
  display:none;
  position:absolute;
  top:0px;
  left:0px;
  z-index:100;
  color:rgb(236, 106, 0);
  font-size:50px;
text-shadow: 0px 0px 6px #ff0000;
animation: grow 1s linear;
  transform: translate(-50%, -50%) scale(0);
  opacity:1;
}
.fire-inside.show{
  display:block;
}
@keyframes grow {
 
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.3;
  }
}

